# Ignore everything at the repository root
/*

# Track selected root files
!.gitignore
!README.md
!LICENSE.txt
!LICENSE
!CITATION.cff
!index.html

# Track selected folders
!/Data/
!/R/
!/Output/
!/Resources/
!/versions/

# Ignore freeze folders anywhere
freeze/

# Ignore macOS metadata anywhere
.DS_Store

# Ignore manuscript/material folders anywhere
MS/

# end
